Repository IntersectMBO/cardano-db-sync, changes with the owners that CODEOWNERS names for each.
All owners: @IntersectMBO/core-tech-dbsync, @input-output-hk/docs-access, @IntersectMBO/core-tech-devx, @IntersectMBO/core-tech-release

CODEOWNERS:

# General reviewers per PR
* @IntersectMBO/core-tech-dbsync

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

# /doc folder and README.* needs to be owned by @docs-access
doc                          @input-output-hk/docs-access @IntersectMBO/core-tech-dbsync
Readme.*                     @input-output-hk/docs-access @IntersectMBO/core-tech-dbsync
CONTRIBUTING.rst             @input-output-hk/docs-access @IntersectMBO/core-tech-dbsync

# DevOps
.github                      @IntersectMBO/core-tech-devx @IntersectMBO/core-tech-release
/config                      @IntersectMBO/core-tech-devx @IntersectMBO/core-tech-release
nix                          @IntersectMBO/core-tech-devx @IntersectMBO/core-tech-release
*.nix                        @IntersectMBO/core-tech-devx @IntersectMBO/core-tech-release
flake.lock                   @IntersectMBO/core-tech-devx @IntersectMBO/core-tech-release
bors.toml                    @IntersectMBO/core-tech-devx @IntersectMBO/core-tech-release
docker-compose.yml           @IntersectMBO/core-tech-devx @IntersectMBO/core-tech-release
scripts/postgresql-setup.sh  @IntersectMBO/core-tech-devx @IntersectMBO/core-tech-release

start implementing off chain voting anchor
  cardano-db-sync/cardano-db-sync.cabal
  cardano-db-sync/src/Cardano/DbSync/Api.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Conway/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Schema.hs
Owners: @IntersectMBO/core-tech-dbsync

isolate offchain and handle different offchain types
  cardano-db-sync/app/http-get-json-metadata.hs
  cardano-db-sync/app/test-http-get-json-metadata.hs
  cardano-db-sync/cardano-db-sync.cabal
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Api.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Era.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Conway/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/FetchQueue.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Delete.hs
  cardano-db/src/Cardano/Db/Schema.hs
  cardano-db/src/Cardano/Db/Types.hs
  doc/pool-offchain-data.md
Owners: @IntersectMBO/core-tech-dbsync, @input-output-hk/docs-access

start on insert of offchain
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Api.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Insert.hs
  cardano-db/src/Cardano/Db/Schema.hs
  cardano-db/src/Cardano/Db/Types.hs
Owners: @IntersectMBO/core-tech-dbsync

improve loadOffChainWorkQueue
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

update Offchain Types
  cardano-db-sync/app/http-get-json-metadata.hs
  cardano-db-sync/app/test-http-get-json-metadata.hs
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Era.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Schema.hs
  cardano-db/test/Test/IO/Cardano/Db/Insert.hs
Owners: @IntersectMBO/core-tech-dbsync

update migration and temp silence undefined warning
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
  schema/migration-2-0032-20231107.sql
Owners: @IntersectMBO/core-tech-dbsync

fix tests
  cardano-chain-gen/test/Test/Cardano/Db/Mock/Unit/Babbage/CommandLineArg/ForceIndex.hs
  cardano-chain-gen/test/Test/Cardano/Db/Mock/Unit/Conway/CommandLineArg/ForceIndex.hs
Owners: @IntersectMBO/core-tech-dbsync

split fetch threads + move offchain load
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

add query for new vote workqueue
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

add queryOffChainVoteWorkQueue
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

rename migration file
  schema/migration-2-0034-20231107.sql
Owners: @IntersectMBO/core-tech-dbsync

fix review comments for offchain data
  cardano-db-sync/app/http-get-json-metadata.hs
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db/src/Cardano/Db/Insert.hs
  cardano-db/src/Cardano/Db/Query.hs
  cardano-db/src/Cardano/Db/Types.hs
Owners: @IntersectMBO/core-tech-dbsync

adjust sleep time and remove modbase check
  cardano-db-sync/CHANGELOG.md
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
Owners: @IntersectMBO/core-tech-dbsync

add seperate db connections for vote and pool
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Api.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
Owners: @IntersectMBO/core-tech-dbsync

stop blocking offchain queues & update query
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

put back the imagration file
  doc/schema.md
  schema/migration-2-0032-20231107.sql
  schema/migration-2-0034-20231220.sql
Owners: @input-output-hk/docs-access, @IntersectMBO/core-tech-dbsync

start on insert of offchain
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Api.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Insert.hs
  cardano-db/src/Cardano/Db/Schema.hs
  cardano-db/src/Cardano/Db/Types.hs
Owners: @IntersectMBO/core-tech-dbsync

add query for new vote workqueue
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

rename migration file
  schema/migration-2-0034-20231107.sql
Owners: @IntersectMBO/core-tech-dbsync

put back the imagration file
  doc/schema.md
  schema/migration-2-0032-20231107.sql
  schema/migration-2-0034-20231220.sql
Owners: @input-output-hk/docs-access, @IntersectMBO/core-tech-dbsync

adjust sleep time and remove modbase check
  cardano-db-sync/CHANGELOG.md
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
Owners: @IntersectMBO/core-tech-dbsync

isolate offchain and handle different offchain types
  cardano-db-sync/app/http-get-json-metadata.hs
  cardano-db-sync/app/test-http-get-json-metadata.hs
  cardano-db-sync/cardano-db-sync.cabal
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Api.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Era.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Conway/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/FetchQueue.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Delete.hs
  cardano-db/src/Cardano/Db/Schema.hs
  cardano-db/src/Cardano/Db/Types.hs
  doc/pool-offchain-data.md
Owners: @IntersectMBO/core-tech-dbsync, @input-output-hk/docs-access

split fetch threads + move offchain load
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

update Offchain Types
  cardano-db-sync/app/http-get-json-metadata.hs
  cardano-db-sync/app/test-http-get-json-metadata.hs
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Era.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Schema.hs
  cardano-db/test/Test/IO/Cardano/Db/Insert.hs
Owners: @IntersectMBO/core-tech-dbsync

add queryOffChainVoteWorkQueue
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

improve loadOffChainWorkQueue
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

fix tests
  cardano-chain-gen/test/Test/Cardano/Db/Mock/Unit/Babbage/CommandLineArg/ForceIndex.hs
  cardano-chain-gen/test/Test/Cardano/Db/Mock/Unit/Conway/CommandLineArg/ForceIndex.hs
Owners: @IntersectMBO/core-tech-dbsync

update migration and temp silence undefined warning
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
  schema/migration-2-0032-20231107.sql
Owners: @IntersectMBO/core-tech-dbsync

stop blocking offchain queues & update query
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

start implementing off chain voting anchor
  cardano-db-sync/cardano-db-sync.cabal
  cardano-db-sync/src/Cardano/DbSync/Api.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Conway/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Schema.hs
Owners: @IntersectMBO/core-tech-dbsync

add seperate db connections for vote and pool
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Api.hs
  cardano-db-sync/src/Cardano/DbSync/Api/Types.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
Owners: @IntersectMBO/core-tech-dbsync

fix review comments for offchain data
  cardano-db-sync/app/http-get-json-metadata.hs
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db/src/Cardano/Db/Insert.hs
  cardano-db/src/Cardano/Db/Query.hs
  cardano-db/src/Cardano/Db/Types.hs
Owners: @IntersectMBO/core-tech-dbsync

Guard against overflow of exponential
  cardano-db-sync/src/Cardano/DbSync/OffChain/FetchQueue.hs
Owners: @IntersectMBO/core-tech-dbsync

Improve OffChain loading queries
  cardano-db-sync/src/Cardano/DbSync/OffChain/Query.hs
Owners: @IntersectMBO/core-tech-dbsync

Add a new constitution table
  cardano-db-sync/CHANGELOG.md
  cardano-db-sync/src/Cardano/DbSync/Era/Shelley/Insert.hs
  cardano-db/src/Cardano/Db/Delete.hs
  cardano-db/src/Cardano/Db/Insert.hs
  cardano-db/src/Cardano/Db/Schema.hs
  schema/migration-2-0034-20231218.sql
Owners: @IntersectMBO/core-tech-dbsync

Add a warning and populate the json field of Vote metadata
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/Types.hs
  cardano-db/src/Cardano/Db/Schema.hs
  schema/migration-2-0035-20231218.sql
Owners: @IntersectMBO/core-tech-dbsync

Fix comment
  cardano-db-sync/src/Cardano/DbSync/OffChain.hs
Owners: @IntersectMBO/core-tech-dbsync

Fix an issue where sequential scans were used
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/Util/Constraint.hs
  cardano-db/src/Cardano/Db/Insert.hs
Owners: @IntersectMBO/core-tech-dbsync

Update to node-8.7.2
  cabal.project
  flake.lock
Owners: @IntersectMBO/core-tech-dbsync, @IntersectMBO/core-tech-devx, @IntersectMBO/core-tech-release

Fourmolize
  cardano-db-sync/src/Cardano/DbSync.hs
  cardano-db-sync/src/Cardano/DbSync/OffChain/Http.hs
  cardano-db-sync/src/Cardano/DbSync/Util/Constraint.hs
  cardano-db/src/Cardano/Db/Schema.hs
Owners: @IntersectMBO/core-tech-dbsync
